body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
}

h4 {
    margin-bottom: 7px;
}

a .icon-chat {
    display: block;
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0 .3rem 0;
    width: 90%;
    margin: auto;
}


.icon-chat, .icon-profile, .logo {
    height: 75px; 
    width: auto;
}

.container {
    width: 100%;
    height: auto;
    margin: 1% auto;
}

#card .dog-img {
    position: relative;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    padding: .5rem;
}

#card {
    position: relative;
    width: 100%;
}

.like, .nope {
    /* Dimensions */
    max-width: 30%;
    height: auto;
    /* Positioning */
    position: absolute;
    z-index: 0;
    top: 110;
    left: 30;
    /*  Tilting the text*/
    transform: rotate(-30deg);
   
  
}



.hideBadge {
    display: none;
}


.dog-info {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 10px;
    font-size: 2rem;
    padding: 0 0 3rem 2.3rem;
}

.actions { 
    display: flex;
    justify-content: center;
}

#accept-button, #reject-button{ 
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin-top: 1.5rem;
    box-shadow: 0px 10px 20px #E9E9EA;
    border: none
}
#reject-button{ 
    margin-right: 1rem;
}
#accept-button{ 
    margin-left: 1rem;
}

#accept-button:hover {
    background: #DBFFF4;
}

#accept-button:active {
    background: #C3F4E4;
}

#reject-button:hover {
    background: #EDD9DF;
}
#reject-button:active {
    background: #E5BECB;
}


@media screen and (max-width: 600px) {
    
    .icon-chat, .icon-profile, .logo {
        height: 45px; 
        width: auto;
    }

    .like, .nope {
        top: 60;
    }

    .dog-info {
        font-size: 1.2rem;
    }

    #card .dog-img {
        width: 96%;
        margin: auto;
        padding: .6rem;
       
    }
}